/*
CSS simple selectors:
selector - example - explanation
- #id - #firstname - Selects element with id="firstname"
- .class - .intro - Selects all elements with class="intro"
- * - * - Selects all elements
- element name - p - Selects all <p> elements
- element, element - p, h1 - Selects all <p> and <h1> elements
*/

/* HTML elements */

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #2a2d30;
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    border: 2px solid #f0bf6c;
    padding: 5px 10%;
}

h1 {
    padding: 20px;
    text-align: center;
}

h2 {
    padding: 30px;
    text-align: center;
}

/* Classes, IDs */

/* General classes */
.p-30 {
    padding: 30px;
}

.highlight {
    color: #f0bf6c;
    font-weight: bold;
}

/* Class: Top navigation section */
.topnav {
    background-color: #2a2d30;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a { /* CSS combinator */
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover { /* CSS pseudo-class */
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ddd;
    color: black;
}

/* Class: Hero section */
.hero-wrapper {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.hero-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    /*object-fit: cover;*/
    border-radius: 50% / 40%; /* Makes it oval */
    /*border: 3px solid #f0bf6c;*/
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.hero-text h1 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 2em;
}

.hero-text p {
    margin: 0;
    padding: 5px;
    font-size: 1.2em;
}

/* Class: Contact button */
.contact_button{
    padding-left: 30px;
}

.contact_button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    max-width: 100%;
    box-sizing: border-box;
}

.contact_button a:link, a:visited {
    background-color: #2a2d30;
    color: #f0bf6c;
    border: 3px solid #f0bf6c;
    border-radius: 5px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contact_button a:hover, a:active {
    background-color: #ddd;
    color: black;
    border: 3px solid #ddd;
    border-radius: 5px;
}

/* Class: Development skills section */
.my-container {
    background-color: #2a2d30;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.my-container div {
    background-color: #3d3e42;
    height: 100px;
    width: 29%;
    padding: 1%;
    padding-top: 25px;
    margin: 1%;
    float: left;
    text-align: center;
    border: 1px solid #3d3e42;
    border-radius: 10px;
}

.my-container div:hover {
    background-color: #ddd;
    color: #2a2d30;
    /*border: 1px solid #ddd;*/
}

.my-container div img {
    width:40px;
    height:40px;
}

/* Class: Projects section */
#projects{

}




/* Class: Footer */
.footer {
    background-color: #2a2d30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0bf6c;
}


/* Media query for smaller screens*/
/*@media (max-width: 700px) {*/
/*    .hero {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        text-align: center;*/
/*    }*/

/*    .hero-img {*/
/*        max-width: 150px;*/
/*        margin-bottom: 15px;*/
/*    }*/

/*    .contact_button {*/
/*        padding-left: 0;*/
/*        margin-top: 15px;*/
/*    }*/

/*    .hero-text h1 {*/
/*        font-size: 1.5em;*/
/*    }*/

/*    .hero-text p {*/
/*        font-size: 1em;*/
/*    }*/
/*}*/
