html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2d30;
    color: white;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    border: 2px solid #f0bf6c;
    padding: 5px 10%;
}

h1 {
    padding: 20px;
    text-align: center;
}

h2 {
    padding: 30px;
    text-align: center;
}

/* General classes */
.p-30 {
    padding: 30px;
}

.highlight {
    color: #f0bf6c;
    font-weight: bold;
}

/* Top navigation section */
.topnav {
    background-color: #2a2d30;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ddd;
    color: black;
}

/* Hero section */
.hero-wrapper {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.hero-img {
    width: 200px;
    height: 260px;
    object-fit: cover;
    border-radius: 50% / 40%; /* Makes it oval */
    border: 3px solid #f0bf6c;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.hero-text h1 {
    margin: 0;
    font-size: 2em;
}

.hero-text p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

/* Contact me button */
.contact_button{
    padding-left: 30px;
}

.contact_button a:link, a:visited {
    background-color: #2a2d30;
    color: #f0bf6c;
    border: 3px solid #f0bf6c;
    border-radius: 5px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contact_button a:hover, a:active {
    background-color: #ddd;
    color: black;
    border: 3px solid #ddd;
    border-radius: 5px;
}

/* About section*/


/* Skills */
.mycontainer {
    background-color: #2a2d30;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.mycontainer div {
    background-color: #3d3e42;
    height: 100px;
    width: 29%;
    padding: 1%;
    padding-top: 25px;
    margin: 1%;
    float: left;
    text-align: center;
    border: 1px solid inherit;
    border-radius: 10px;
}

.mycontainer div img {
    width:40px;
    height:40px;
}

#iframe {
    height: 500px;
    width: 500px;
    border: none;
}


/* Footer */
.footer {
    background-color: #2a2d30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0bf6c;
}